@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --cor-primary: #69E5E5;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "JetBrains Mono", monospace;
}

header,main,footer{
    padding: 0px 70px;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        font-size: 22px;
        font-weight: normal;
        span{
            color: var(--cor-primary);
        }
    }
    nav{
        display: flex;
        gap: 15px;
        position: relative;
        a{
            display: flex;
            align-items: end;
            gap: 4px;
            position: relative;
            &::before{
                transition: 1s;
                border-radius: 8px;
                content: "";
                position: absolute;
                bottom: -3px;
                height: 4px;
                width: 0%;
                background-color: var(--cor-primary);
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
}

section:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    article{
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            color: var(--cor-primary);
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            cursor: pointer;
            border: 1px solid black;
            width: 100%;
            height: 40px;
            font-size: 1em;
            border-radius: 4px;
            background-color: var(--cor-primary);
            transition: 1s;
            box-shadow: 2px 2px 5px black;
            &:hover{
                background-color: aqua;
                transform: scale(.9);
            }
        }
    }
}

section:nth-child(2){
    height: 100dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        &>img{
            width: 250px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px var(--cor-primary);
        }
        h2{
            font-size: 1em;
        }
        nav{
            text-align: center;
        }
    }
    article{
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            font-size: 2em;
        }
        p{
            text-align: justify;
        }
    }
}

@keyframes box{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

section:nth-child(3),section:nth-child(4),section:nth-child(5){
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    gap: 20px;
    h2{
        padding-bottom: 10px;
        flex-basis: 100%;
        text-align: center;
        font-size: 2em;
    }
}

section:nth-child(3){
    div{
        background-color: white;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        &:hover{
            box-shadow: 2px 2px 6px var(--cor-primary);
            animation: box;
            animation-duration: 3s;
            animation-iteration-count: infinite
        }
    }
}

section:nth-child(4){
    div{
        min-height: 300px;
        width: 300px;
        background-color: white;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 5px;
        box-shadow: 2px 2px 6px var(--cor-primary);
    }
}

section:nth-child(5){
    justify-content: space-around;
    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    a{
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 1s;
        img{
            width: 28px;
        }
        &:hover{
            color: var(--cor-primary);
        }
    }
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        position: relative;
        &::before{
            transition: 1s;
            border-radius: 8px;
            content: "";
            position: absolute;
            bottom: -3px;
            height: 4px;
            width: 0%;
            background-color: var(--cor-primary);
        }
        &:hover::before{
            width: 100%;
        }
    }
}